.timer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 24px;
}

.field {
    text-align: center;
    margin: 0 10px;
}

.field .value {
    display: block;
}

.field .label {
    display: block;
    font-size: 14px;
}